.list_with_upthumb {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.list_with_upthumb_item {
  flex: 0 0 calc((100% - 4 * 16px) / 5);
  box-sizing: border-box;
}

.img_wrap {
  overflow: hidden;
  border-radius: 8px;
}

.img_thumb {
  width: 100%;
  height: auto;
  display: block;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}

.no-decoration {
    text-decoration: none;
    color: black;
}